.likert-options {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 3px;
  overflow: hidden;
}

.likert-option {
  flex: 1 1 0;
  margin-bottom: 0;
  position: relative;
}

.likert-option:not(:last-child) {
  border-right: 1px solid;
}

.likert-option-label {
  cursor: pointer;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.likert-option-radio-button {
  opacity: 0;
  position: absolute;
}

.likert-option-label-span {
  display: table-cell;
  vertical-align: middle;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.likert-option-radio-button:focus + div.likert-option-label {
  box-shadow: inset 0 0 0 3px Highlight;
}
