.survey-banner-text {
  margin-bottom: 20px;
}

.submit-survey-btn {
  margin-left: 5px !important;
}

.survey-modal-body {
  padding: 20px 15px 0 !important;
}

.survey-modal-buttons {
  margin: 0 0 1em;
}

.survey-fetch-server-error {
  margin: 0 0 1em;
}

.survey-submit-server-error-alert {
  margin: 0 0 1em;
}

.survey-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5em;
  flex-direction: column;
  padding: 1em;
  margin: 0 0 1em;
}

.survey-submit-button-container {
  display: inline-block;
  cursor: not-allowed;
}
